<!DOCTYPE html>
<html>
<head>
  <title>MRSA Heatmap</title>
  <%= stylesheet_link_tag 'themes/base/jquery.ui.all.css' %>
  <%= javascript_include_tag 'jquery-1.4.4' %>
  <%= javascript_include_tag 'ui/jquery.ui.core' %>
  <%= javascript_include_tag 'ui/jquery.ui.widget' %>
  <%= csrf_meta_tag %>
</head>
<body style="padding:20px;">

<%= yield %>

</body>
</html>
