<!DOCTYPE html>
<html>
<head>
  <title>MRSA Results</title>
  <%= stylesheet_link_tag 'themes/base/jquery.ui.all.css' %>
  <%= stylesheet_link_tag 'themes/base/jquery.ui.slider.css' %>
  <%= stylesheet_link_tag 'themes/base/jquery.ui.selectmenu.css' %>
  <%= stylesheet_link_tag 'jquery.contextMenu/jquery.contextMenu.css' %>
  <%= javascript_include_tag 'jquery-1.4.4' %>
  <%= javascript_include_tag 'ui/jquery.ui.core' %>
  <%= javascript_include_tag 'ui/jquery.ui.widget' %>
  <%= javascript_include_tag 'ui/jquery.ui.position' %>
  <%= javascript_include_tag 'ui/jquery.ui.mouse' %>
  <%= javascript_include_tag 'ui/jquery.ui.slider' %>
  <%= javascript_include_tag 'ui/jquery.ui.button' %>
  <%= javascript_include_tag 'ui/jquery.ui.selectmenu' %>
  <%= javascript_include_tag 'jquery-qtip.min' %>
  <%= javascript_include_tag 'flot/jquery.flot' %>
  <%= javascript_include_tag 'jquery.contextMenu/jquery.contextMenu.js' %>
  <%= csrf_meta_tag %>
</head>
<body style="padding:20px;">

<%= yield %>

</body>
</html>
